spring:
  application:
    name: RenderJoke
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost/jokedb}
    username: ${JDBC_DATABASE_USERNAME:joke}
    password: ${JDBC_DATABASE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    path: /swagger-ui

server:
  port: ${PORT:8080}
